body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header, .footer, .words {
  background-color: black;
  padding: 1rem;
}

.header, .footer {
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #FF073A;
}

.spy-themed1, .spy-themed2, .spy-themed3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
  border: 0.2rem solid #FF073A;
  text-shadow: 3px 3px 8px black, 0 0 5px #FF073A, 0 0 10px #FF073A;
  background-color: black;
  display: inline-block;
  text-decoration: none;
  color: #FF073A;
}

.spy-themed1 {
  width: 30%; /* Increase width by 20% */
}

.spy-themed3 a {
  color: #FF073A;
  text-decoration: none;
}

.footer .spy-themed3:hover {
  background-color: #FF073A;
  color: black;
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.header .spy-themed3:hover {
  color: black; /* Change text color to black on hover of .spy-themed1 */
}

.additional-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  color: #FF073A; /* Same color as other elements */
  padding: 1rem;
}

.words {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 3rem;
}

.words-list {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 3px solid #FF073A;
  padding: 1rem;
  overflow-y: auto; /* Add scroll if the list is too long */
  list-style-type: none; /* Remove default list styling */
}

.words-list li {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.4rem;
  color: #FF073A;
  background-color: black;
  text-shadow: 3px 3px 8px black, 0 0 5px #FF073A, 0 0 10px #FF073A;
  border: 0.2rem solid #FF073A;
  border-radius: 5px;
  text-align: center;
}

.footer {
  flex: 0 0 5%;
  justify-content: flex-end;
  border-top: 3px solid #FF073A;
}
