body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.container {
    text-align: center;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #FF073A;
    text-shadow: 3px 3px 8px black, 0 0 5px #FF073A, 0 0 10px #FF073A;
}

.join-game-box {
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FF073A;
    border-radius: 5px;
    outline: none;
    width: 200px;
    text-align: center;
    margin-right: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #FF073A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #e60033;
}
