body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    color: #FF073A;
  }
  
  .header, .footer {
    background-color: black;
    padding: 1rem;
    text-align: center;
  }
  
  .header {
    font-size: 2rem;
    text-shadow: 3px 3px 8px black, 0 0 5px #FF073A, 0 0 10px #FF073A;
  }
  
  .players-list {
    flex: 1;
    padding: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .players-list li {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #000;
    border: 2px solid #FF073A;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .players-list li.selected {
    background-color: #FF073A;
    color: black;
  }

  .players-list li.voted {
    background-color: rgb(230, 112, 112);
    color: black;
    }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spy-themed3 {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid #FF073A;
    background-color: black;
    color: #FF073A;
    text-shadow: 3px 3px 8px black, 0 0 5px #FF073A, 0 0 10px #FF073A;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .spy-themed3:hover {
    background-color: #FF073A;
    color: black;
  }
  